*{
    margin: 0
}
* label{
    color: white;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(34, 72, 194),rgb(0, 110, 255));
    height: 100vh;
    width: 100vw;
}
.header{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.header label{
    font-size: 10vw;
}
.profileImage{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.profileImage img{
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
}
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}
.info label{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 5vw;
}
.linksContainer{
    display: flex;
    justify-content: space-around;
    padding-inline: 10%;
    margin-bottom: 2%;
}
.link img{
    width: 18vw;
    height: 18vw;
    filter: contrast(999%) invert(100%);
}